DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
JWT_SECRET="replace-with-a-long-random-secret"
CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
RAZORPAY_KEY_ID=rzp_test_TXE2rU6kwpNgIB
RAZORPAY_KEY_SECRET=y5CB6Df7t0Xtr2rMn9WuSTRm
PORT=4000
